#knapp {
    background: white;
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -ms-linear-gradient(top, white, white);
    background-image: -o-linear-gradient(top, white, white);
    background-image: linear-gradient(to bottom, white, white);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  #knapp:hover {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #8c8c8c);
    background-image: -moz-linear-gradient(top, #ffffff, #8c8c8c);
    background-image: -ms-linear-gradient(top, #ffffff, #8c8c8c);
    background-image: -o-linear-gradient(top, #ffffff, #8c8c8c);
    background-image: linear-gradient(to bottom, #ffffff, #8c8c8c);
    text-decoration: none;
  }

  #footerinnhold{
    margin-left: 450px;
  }
  
  .footerbilde{position: absolute;
    left: 215px;
    top: 1225px;
    z-index: -1;
    
  }
  .footerbildehender{position: absolute;
    left: 215px;
    top: 1225px;
  }

  .fa-brands{
    width: 100px;
    font-size: 50px;
    color: white;
    text-decoration: none;
  }

  .fa-brands:hover{
    color: gray;
  }