@font-face {
  font-family: missionDanger;
  src: url(./font/missiondanger.ttf);
}

.tittel{
  font-family: missionDanger;
  color: white;
  margin-top: -150px;
  text-align: center;
  font-size: 40;
  z-index: 100;
}

.tittelbilde {
  width: 600px;
}

#logobg {
    background-color: #10243c  ;
    padding: 30px;
    margin: 0px;
    width: 100%;
  }

#logo {
  width: 150px;
  margin-left: 95px;
}

  .nav-link {
    color: white;
    text-align: center;
    font-family: missionDanger;
    font-size: 12px;
    margin-left: 150px;
  }
  .nav-link:hover {
    color: white;
  }

.currentpage{
    text-decoration: underline;
}

body{
    background-color: #10243c;
}

#bg {
    background-color: white  ;
    padding: 69px;
    margin-top: -300px;
  }

.ommegtittel{
    font-family: missionDanger;
    top:350px;
    left: 20px;
    color: #10243c;
    font-size: 30px;
}
.ommegtekst{
    margin-top: -200px;
    font-size: 9px;
    margin-left: -10px;
    max-width: 33%;
}

#bgg {
  background-color: #2f4663  ;
  padding: 100px;
  margin: 0px;
  height: 400px;
}

  .utdanningtittel{
    font-family: missionDanger;
    font-size: 30px;
    top: 510px;
    left: 20px;
    color: white;
}

.ommegtekst{
    position: absolute;
    top:590px;
    left: 35px;
}

.ommegbilde{
    position: absolute;
    top:100px;
    left: 300px;
    width: 500;
}
.utdanning {
    position: absolute;
    top: 550px;
    left: 35px;
    color: white;
    
}

.minkompetanse{
  color: black;
  margin-top: -400px;
}

.tekstomkompetanse{
  display: none;
}

.innhold {
  color: white;
  
}

.link,link:hover{
  color: white;
  
}

.link:hover{
  color: gray;
  
}

.bilde{
  width: 60%;
  margin-top: -300px;
}
#skolelink{
  font-size: 10;
}




@media only screen and (min-width: 1000px) {
  @font-face {
    font-family: missionDanger;
    src: url(./font/missiondanger.ttf);
  }
  .tittel{
    font-family: missionDanger;
    color: white;
    margin-top: -150px;
    text-align: center;
    font-size: 40;
    z-index: 100;
  
  
  }
  
  #logobg {
      background-color: #10243c  ;
      padding: -5%;
      margin: 0px;
    }
  
    .nav-link {
      color: white;
      margin-right: 20px;
      font-family: missionDanger;
      font-size: 15px;
    }
    .nav-link:hover {
      color: white;
    }
  
  .currentpage{
      text-decoration: underline;
  }
  
  body{
      background-color: #10243c;
  }
  
  #bg {
      background-color: white  ;
      padding: 200px;
      margin-top: -280px;
    }
  
  .ommegtittel{
      font-family: missionDanger;
      top:350px;
      left: 35px;
      color: #10243c;
      font-size: 70px;
  }
  .ommegtekst{
      margin-top: -150px;
      margin-left: 10px;
      font-size: 15px;
  }
  
  #bgg {
      background-color: #2f4663  ;

      padding: 100px;
      margin: 0px;
      height: 600px;
    }
  
    .utdanningtittel{
      font-family: missionDanger;
      font-size: 70px;
      top:760px;
      left: 550px;
      color: white;
  }
  
  .ommegtekst{
      max-width: 25%;
      left: 15px;
  }
  
  .ommegbilde{
      position: absolute;
      top:100px;
      left: 300px;
      width: 500;
  }
  .utdanning {
      position: absolute;
      top: 850px;
      left: 270px;
      color: white;
  
      
  }
  
  .minkompetanse{
    color: black;
    margin-top: -400px;
  }
  
  .tekstomkompetanse{
    display: block;
    color: black;
    margin-top: -200px;
    list-style: none;
    font-size: 12;
  }
  
  .innhold {
    color: white;
  }
  
  .link,link:hover{
    color: white;
  }
  
  .link:hover{
    color: gray
}
.bilde{
  width: 50%;
  margin-top: -280px;
  margin-left: 100px;
}

#bg1 {
  background-color: white  ;
  padding: 200px;
  margin-top: 500px;
}

table td {
  padding: 10px;
  text-align: center;
  
}

td, th {
  width: 300px;
  
}

#skolelink{
  font-size: 20;
}

#skole{
  position: absolute;
  font-size: 70;
  left: 110px;
  top: 20px;
}

#skole2{
  position: absolute;
  font-size: 70;
  left: 405px;
  top: 20px;
}

#skole3{
  position: absolute;
  font-size: 70;
  left: 720px;
  top: 20px;
}

.spilltittel{
  position: absolute;
  font-family: missionDanger;
      top:1220px;
      left: 630px;
      color: #10243c;
      font-size: 70px;
}

.spill{
  color:#10243c;
  font-size: 100;
  margin: 50px;
  margin-left: 160px;
}

#di{
  position: absolute;
  left: 350px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}
#dr{
  position: absolute;
  left: 660px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}
#si{
  position: absolute;
  left: 975px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

#bg2 {
  background-color: #10243c  ;
  padding: 200px;
  
}



#knapp {
  background: white;
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#knapp:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #8c8c8c);
  background-image: -moz-linear-gradient(top, #ffffff, #8c8c8c);
  background-image: -ms-linear-gradient(top, #ffffff, #8c8c8c);
  background-image: -o-linear-gradient(top, #ffffff, #8c8c8c);
  background-image: linear-gradient(to bottom, #ffffff, #8c8c8c);
  text-decoration: none;
}

#footerinnhold{
  margin-left: 450px;
}

.footerbilde{position: absolute;
  left: 215px;
  top: 1225px;
  z-index: -1;
  
}
.footerbildehender{position: absolute;
  left: 215px;
  top: 1225px;
}

.fa-brands{
  width: 100px;
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.fa-brands:hover{
  color: gray;
}
}
