#logobg {
    background-color: #950000 ;
    padding: 40px;
    margin: 0px;
  }

  .nav-link {
    color: white;
    margin-right: 20px;
  }
  .nav-link:hover {
    color: #131313;
  }

.currentpage{
    text-decoration: underline;
}