.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #10243c;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: white;
  }
  
  p {
    font-size: 2rem;
    color: white;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
  .btn {
    position: absolute;
    left: 630px;
    background: white;
    background-image: -webkit-linear-gradient(top, white, gray);
    background-image: -moz-linear-gradient(top, white, gray);
    background-image: -ms-linear-gradient(top, white, gray);
    background-image: -o-linear-gradient(top, white, gray);
    background-image: linear-gradient(to bottom, white, gray);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: white;
    background-image: -webkit-linear-gradient(top, gray, gray);
    background-image: -moz-linear-gradient(top, gray, gray);
    background-image: -ms-linear-gradient(top, gray, gray);
    background-image: -o-linear-gradient(top, gray, gray);
    background-image: linear-gradient(to bottom, gray, gray);
    text-decoration: none;
  }